.PGrid {
    margin-top: 50px;
}

.PGrid thead {
    background-color: #FFD799;
}

.PGrid > .btn.btn-primary.btn-block {
    font-weight: bold;
    background-color: #ff8a87;
    color: #fff;
    padding: 0.3em;
    border: none;
    border-radius: 5px;
}

.PGrid > .btn.btn-primary.btn-block:hover, #PGrid > .btn.btn-primary.btn-block:active {
    background-color: #000 !important;
    color: #ff8a87;
}

.logbutton {
    border-radius: 5px !important;
    color: #ff8a87;
    border: 2px solid #FFF;
    background-color: #FFF;

}

.logbutton:link, .logbutton:visited {
    border-radius: 5px !important;
    color: #ff8a87;
    border: 2px solid #FFF;
    background-color: #FFF;
}

.logbutton:active, .logbutton:hover {
    border-radius: 5px !important;
    border: 2px solid #FFF;
    background-color: #ff8a87;
    color: white !important;

}

.submitbtunnew, .submitbtunnew:link, .submitbtunnew:visited {
    font-weight: bold;
    background-color: #ff8a87;
    color: #fff;
    padding: 0.3em;
    border: none;
    width: 6em;
    border-radius: 5px;
}

.submitbtunnew:hover, .submitbtunnew:active {
    background-color: #000 !important;
    color: #ff8a87;
}

#Table {
    margin-top: 30px;
}

.tab-pane {
    padding-top: 10px;
}

.MapCountryDetails label {
    display: block;
}

.Chart-table th {
    text-align: center !important;
}

/* Tab Control */

.panelControl {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 8.33333333%;
    height: 100vh;
    background-color: #ff8a87;
    z-index: 3;
}

.panelControl > a,
.panelControl > a img {
    width: 100%;
    margin-top: 1vh;
    max-height: 14vh;
}

.panelControl ul {
    margin-top: 3.5vh;
}

.panelControl ul li {
    width: 100%;
    height: 12vh;
    display: block;
    float: none;
    opacity: 0.7;
    text-align: center;
}

.panelControl ul li:hover {
    opacity: 1;
}

.panelControl ul li.active {
    opacity: 1;
}

.panelControl ul li a {
    color: #fff;
    padding: 0;
    font-size: 2vh;
}

.panelControlShow{
    height: 100vh;
    width: 24vw;
}

.panelControl ul li i { /*___ Temp ___*/
    display: block;
    font-size: 3vh;
    margin-bottom: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

#LogoSM {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 0;
}

#LogoSM > img {
    width: 100%;
}

.nav > li > a:focus, .nav > li > a:hover,
.nav-tabs > li > a:hover {
    border: none;
    background-color: transparent;
}

#menuIcon {
    position: absolute;
    top: 29px;
    font-size: 24px;
    left: 20px;
    color: #ff8a87;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 6px;
    padding: 4px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
}

@media (max-width: 992px) {
    .panelControl {
        height: 0;
    }

    #LogoSM {
        width: 20%;
        margin-top: 8px;
    }
}

@media (max-width: 1560px) and (min-width: 993px) {
    .panelControl ul li a {
        font-size: 16px;
    }

    .panelControl ul li i { /*___ Temp ___*/
        font-size: 26px;
    }
}

@media (max-width: 1140px) {
    /* FOOTER TEXT */
    .text-muted{
        width:80%;
        margin:0 auto;
    }
}