body{
    width:7016px;
    height:4961px;
}
/*Padding*/
.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

/*Table*/
#Table tr td:nth-child(even){
    text-align: right;
}
/*Map*/
.Chart {
    height: 300px;
    width: 95%;
    float: right;
    margin: 0 auto;
    margin-right: 5px;
    margin-top: 11px;
}

#MapContainer {
    height: 2851px;
    margin-top: 24px;
    width: 90%;
}

.OtherChart {
    width: 80%;
    height: 1451px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.bottomBorder {
    border-bottom: 2px solid #f88882;
    padding-bottom: 20px;
}

.topBorder {
    border-top: 2px solid #f88882;
    position: relative;
    margin-top: 142px;
}

#Logo {
    position: absolute;
    z-index: 2;
    width: 12%;
    left: 63.5%;
    top: -28px;
}

.highcharts-button {
    display: none;
}

.highcharts-button-box {
    display: none;
}

.highcharts-button.highcharts-map-navigation {
    display: none;
}

.Footer p {
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 600;
    width: 80%;
    font-size: 63px !important;
}

.chartDivider {
}

.textLabel{
    background-color: #f88882;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: top right;
    position: absolute;
    left: -1165px;
    top: 0;
    padding: 10px;
    font-size: 131px;
    color: #fff;
    z-index: 100;
    border: 2px solid #f88882;
}



#TopBorderBar {
    left: -213px;
}


.MapCountryDetails table {
    font-size: 64px;
    margin: 11px;
    margin-top: 20%;
}

.MapDetails {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #f88882;
    padding: 11px;
    margin-top: 134px;
    min-height: 1000px;
    font-size: 70px;
}

.MapDetails p {
    margin-bottom: 2px;
    /* font-size: 11px; */
}

.MapCountryDetails table tr td:first-child {
    font-weight: 600;
}

#MapContainer svg > rect {
    stroke: none !important;
}

#copyright{
    text-align: center;
    margin-bottom: 50px;
}
#IFRAME{
    width:95%;
    margin-left:-14%;
    height: 1451px;
    overflow: hidden;
    border: none;
}
@media print
{
    @page
    {
        size: 594mm 420mm;
    }

}
